.owl-carousel-holder {
  width: 100%;
  float: left;
}

.carousel-section {
  width: 100%;
  height: 400px;
  float: left;
}

.slider-image-section {
  width: 100%;
  height: 480px;
  float: left;
}

.card {
  width: auto;
}

.item {
  padding: 0 6px
}

