<div class="container">
  <input class="w-100"
         type="text"
         style="padding:8px;margin:15px auto;width:30%;"
         placeholder="Search Category..."
         (keyup)="updateFilter($event)"
  />
  <ngx-datatable
    #table
    class="material"
    [columns]="columns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="10"
    [rows]="rows"
    [selected]="selected"
    [selectionType]="'cell'"
    (select)='onSelect($event)'
  >
  </ngx-datatable>
</div>
