<div class="container">
  <span class="badge badge-light badge-page">My Book</span>
  <div class="search">
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline d-block pt-2 text-center">
          <div class="input-group">
            <span class="input-icon search"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search My Books...">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="content pt-3">
    <div class="row py-3 content-detail" *ngFor="let item of myBookListData; let item = index">
      <div class="col-md-2">
        <div class="book-image">
          <img [src]="item.imageUrl" class="rounded mx-auto d-block" alt="...">
        </div>
      </div>
      <div class="col-md-10">
        <div class="book-info">
          <a class="title d-block" routerLink="/book-detail/1">{{item.title}}</a>
          <a class="author d-block" routerLink="/author">{{item.author}}</a>
          <div class="book-details pt-3">
            <div class="row px-3 pb-3 justify-content-between">
              <div>
                <button class="btn btn-primary mr-3">Read Online</button>
                <button class="btn btn-primary mr-3">Download</button>
              </div>
              <div>
                <span class="extension mr-5">{{item.extension}}</span>
                <span class="size mr-5">{{item.size}}</span>
                <span class="year">Year: {{item.year}}</span>
              </div>
            </div>
            <div class="date-order">
              <span class="d-block">Date Order {{item.dateOrder}}</span>
            </div>
            <span class="detail d-block mt-3">{{item.detail}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
