<div class="container">
  <span class="badge badge-light badge-page">My Book</span>
  <div class="search">
    <!--<div class="text-center">-->
    <!--<h1 class="logo">5MedBook</h1>-->
    <!--<span class="slogan d-block">Search and get any book with only $5</span>-->
    <!--</div>-->
    <div class="row">
      <!--<div class="col-md-2"></div>-->
      <div class="col-md-12">
        <form class="form-inline d-block pt-2 text-center">
          <div class="input-group">
            <span class="input-icon search"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search My Books...">
          </div>
        </form>
      </div>
      <!--<div class="col-md-2"></div>-->
    </div>
  </div>
  <div class="content pt-3">
    <div class="row py-2 content-detail" *ngFor="let item of myBookListData; let item = index">
      <div class="col-md-2">
        <button class="btn btn-default btn-delete-cart" title="Delete Book" (click)="onDelete()"><i
          class="fa fa-times"></i></button>
        <div class="book-image">
          <img [src]="item.imageUrl" class="rounded mx-auto d-block" alt="...">
        </div>
      </div>
      <div class="col-md-10">
        <div class="book-info">
          <a class="title d-block">{{item.title}}</a>
          <a class="author d-block">{{item.author}}</a>
          <div class="book-details pt-3">
            <div class="row px-3 pb-3 justify-content-between">
              <div>
                <button class="btn btn-primary mr-3">Read Online</button>
                <button class="btn btn-primary mr-3">Download</button>
              </div>
              <div>
                <span class="type mr-5">{{item.type}}</span>
                <span class="size mr-5">{{item.size}}</span>
                <span class="year">Year: {{item.year}}</span>
              </div>
            </div>
          </div>
          <div class="date-order">
            <span class="d-block">Date Order {{item.dateOrder}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Delete-->
<div bsModal #deleteMyBookModal="bs-modal" class="modal fade" [config]="{ backdrop: 'static' }">
  <div class="modal-dialog  modal-dialog-centered modal-confirm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Book</h5>
        <button type="button" class="close" (click)="deleteMyBookModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <i class="fa fa-question-circle"></i> Are you sure to delete selected book item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="onSubmitDelete()"><i class="fa fa-check"></i>
          Yes
        </button>
        <button type="button" class="btn btn-secondary" (click)="deleteMyBookModal.hide()">
          <i class="fa fa-times"></i> No
        </button>
      </div>
    </div>
  </div>
</div>
