<div class="container">
  <span class="badge badge-light badge-page"><span class="category-name">Success Self-Help</span><i
    class="fa fa-chevron-right px-2"></i><span class="book-detail">How to Win Friends & Influence People</span>
  </span>
  <div class="content">
    <div class="row" *ngFor="let item of bookDetailData; let item = index">
      <div class="col-md-10 content-preview">
        <div class="book-info">
          <a class="title d-block">{{item.title}}</a>
          <a class="author d-block pb-3" routerLink="/author">{{item.author}}</a>
          <div class="book-image">
            <img [src]="item.imageDetailUrl" class="rounded mx-auto d-block" alt="...">
          </div>
          <div class="detail mt-4">
            <span class="d-block">{{item.detail}}</span>
            <span *ngIf="showDetailBookData" class="d-block mt-3">{{item.detailBookData}}</span>
            <button class="btn btn-link d-block pl-0" (click)="onShowDetailBookData()">Read more</button>
          </div>
          <button class="btn btn-primary w-100 my-3">Get This Book</button>
          <div class="downloads text-center">
            <span class="d-block mb-3 ">{{item.downloads}} Downloads</span>
          </div>
        </div>
      </div>
      <div class="col-md-2 content-book-detail">
        <div class="book-image text-center">
          <img [src]="item.imageUrl" class="rounded mx-auto d-block mb-3" alt="...">
          <div>
                <span class="price">
                  <span class="price-currency">$</span>
                  <span class="price-whole">{{item.price}}</span>
                  <span class="price-fractional">00</span>
                </span>
            <button class="btn btn-primary my-3">Get This Book</button>
            <!--<button class="btn btn-primary mr-3">Add To Cart</button>-->
            <span class="d-block mb-3 downloads">{{item.downloads}} Downloads</span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-6 name">
            <span>ISBN 10</span>
          </div>
          <div class="col-md-6 pl-0 detail">
            <span>{{item.isbn10}}</span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-6 name">
            <span>ISBN 13</span>
          </div>
          <div class="col-md-6 pl-0 detail">
            <span>{{item.isbn13}}</span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-6 name">
            <span>Year</span>
          </div>
          <div class="col-md-6 pl-0 detail">
            <span>{{item.year}}</span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-6 name">
            <span>Pages</span>
          </div>
          <div class="col-md-6 pl-0 detail">
            <span>{{item.pages}}</span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-6 name">
            <span>Edition</span>
          </div>
          <div class="col-md-6 pl-0 detail">
            <span>{{item.edition}}</span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-6 name">
            <span>Language</span>
          </div>
          <div class="col-md-6 pl-0 detail">
            <span>{{item.language}}</span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-6 name">
            <span>Extension</span>
          </div>
          <div class="col-md-6 pl-0 detail">
            <span>{{item.extension}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 name">
            <span>Size</span>
          </div>
          <div class="col-md-6 pl-0 detail">
            <span>{{item.size}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
