<div class="container">
  <div class="py-4">
    <!--{prop: 'category'},-->
    <!--{name: 'title'},-->
    <!--{name: 'author'},-->
    <!--{name: 'price'},-->
    <!--{name: 'downloads'},-->
    <!--{name: 'year'},-->
    <!--{name: 'detail'}-->
    <h4 class="logo">Datatable</h4>
    <ngx-datatable
      #table
      class="bootstrap"

      [columnMode]="ColumnMode.force"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="10"
      [rows]="rows"
      [selected]="selected"
      [selectionType]="'row'"
      (select)='onSelect($event)'>

      <ngx-datatable-column name="category">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.category}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="title" headerClass="center-col" [cellClass]="getCellClass">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.title}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="author"></ngx-datatable-column>
      <ngx-datatable-column name="price"></ngx-datatable-column>
      <ngx-datatable-column name="downloads"></ngx-datatable-column>
      <ngx-datatable-column name="year"></ngx-datatable-column>
      <ngx-datatable-column name="detail"></ngx-datatable-column>

    </ngx-datatable>
    <div class="selected-column">
      <h4>Available Columns</h4>
      <ul>
        <li *ngFor="let col of allColumns">
          <input type="checkbox" [id]="col.name" (click)="toggle(col)" [checked]="isChecked(col)"/>
          <label [attr.for]="col.name">{{ col.name }}</label>
        </li>
      </ul>
    </div>
  </div>
  <div class="search">
    <div class="text-center">
      <h1 class="logo">5MedBook</h1>
      <span class="slogan d-block">Search and get any book with only $5</span>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <form class="form-inline d-block pt-4 text-center">
          <div class="input-group">
            <span class="input-icon search">
              <i class="fa fa-search"></i>
            </span>
            <input type="text" class="form-control" placeholder="Search for Title/Author/ISBN...">
          </div>
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="content pt-3">
    <div class="row py-3 content-detail" *ngFor="let item of bookListData; let item = index">
      <div class="col-md-2">
        <div class="book-image">
          <a routerLink="/book-detail/1"><img [src]="item.imageUrl" class="rounded mx-auto d-block" alt="..."></a>
        </div>
      </div>
      <div class="col-md-10">
        <div class="book-info">
          <a class="title d-block" routerLink="/book-detail/1">{{item.title}}</a>
          <a class="author d-block" routerLink="/author">{{item.author}}</a>
          <div class="book-details pt-3">
            <div class="row px-3 pb-3 justify-content-between">
              <div>
                <span class="price">
                  <span class="price-currency">$</span>
                  <span class="price-whole">{{item.price}}</span>
                  <span class="price-fractional">00</span>
                </span>
                <button class="btn btn-primary mx-3">Get this book</button>
                <button class="btn btn-default btn-cart">
                  <i class="fa fa-shopping-cart"></i>
                </button>
              </div>
              <div>
                <span class="downloads mr-5">{{item.downloads}} Downloads</span>
                <span class="year">Year: {{item.year}}</span>
              </div>
            </div>
            <span class="detail d-block">{{item.detail}}</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showBookList">
      <div class="row py-3 content-detail" *ngFor="let item of bookListData; let item = index">
        <div class="col-md-2">
          <div class="book-image">
            <a routerLink="/book-detail/1"><img [src]="item.imageUrl" class="rounded mx-auto d-block" alt="..."></a>
          </div>
        </div>
        <div class="col-md-10">
          <div class="book-info">
            <a class="title d-block" routerLink="/book-detail/1">{{item.title}}</a>
            <a class="author d-block" routerLink="/author">{{item.author}}</a>
            <div class="book-details pt-3">
              <div class="row px-3 pb-3 justify-content-between">
                <div>
                <span class="price">
                  <span class="price-currency">$</span>
                  <span class="price-whole">{{item.price}}</span>
                  <span class="price-fractional">00</span>
                </span>
                  <button class="btn btn-primary mx-3">Get this book</button>
                  <button class="btn btn-default btn-cart">
                    <i class="fa fa-shopping-cart"></i>
                  </button>
                </div>
                <div>
                  <span class="downloads mr-5">{{item.downloads}} Downloads</span>
                  <span class="year">Year: {{item.year}}</span>
                </div>
              </div>
              <span class="detail d-block">{{item.detail}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <button type="submit" class="btn btn-primary d-block w-100" (click)="onShowBookList()">See More Books
        </button>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
