
.price-whole {
    font-size: 21px;
    line-height: 21px;
    color: #404040;
}

.price-currency, .price-fractional {
    font-size: 12px;
    color: #545454;
    top: auto;
    vertical-align: top;
}