.logo {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffffe0;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #ffffff;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: #ffffff;
}

.dropdown-toggle.cart-list::after {
  display: none;
}

.fa-shopping-cart {
  font-size: 18px;
}

.input-group {
  position: relative;

  .input-icon {
    position: absolute;
    top: 3px;
    right: 10px;
    z-index: 9;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;

    :hover {
      color: #4080ff;
    }
  }

  input {
    height: 25px;
    min-width: 450px;
  }
}



