$logoTextColor: #0030B8;

.logo {
  color: $logoTextColor;
  margin-left: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
}

.content {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.125);

  .card {
    border: none;

    .card-header, .card-footer {
      background-color: #ffffff;
    }

    .fa-shopping-cart {
      font-size: large;
    }

    .price {
      font-weight: 600;
    }

    .btn.pay {
      color: #ffffff;
      background: #0070BA;
    }

    h6, .card-text {
      color: #8B8F93;
    }
  }

  input[type="radio"], input[type="checkbox"] {
    margin-top: 20px !important;
    margin-right: 5px!important;
  }
  
  .master-card {
    margin-left: 0px!important
  }

  .credit-card {
    margin-left: 30px!important
  }

  .pay-card {
    width: 50px;
    height: 50px;
  }

}


